import React from 'react';
{{#if style}}
{{#if_eq style "Styled Components"}}
import { Container } from './{{#if_eq folderStructure "Grouped"}}styles/{{/if_eq}}{{name}}.styled';
{{else}}
{{#if_eq folderStructure "Grouped"}}
import styles from './styles/{{name}}.module.{{toLowerCase style}}';
{{else}}
import styles from './{{name}}.module.{{toLowerCase style}}';
{{/if_eq}}
{{/if_eq}}
{{/if}}

{{#if hooks}}
import { use{{name}} } from './{{#if_eq folderStructure "Grouped"}}hooks/{{/if_eq}}use{{name}}';
{{/if}}

export const {{name}} = () => {
  {{#if hooks}}
  const {} = use{{name}}();
  {{/if}}

  return (
    {{#if_eq style "Styled Components"}}
    <Container>
      {{name}} Component
    </Container>
    {{else}}
    <div className={styles.container}>
      {{name}} Component
    </div>
    {{/if_eq}}
  );
};